@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap");

:root {
  --teal: #05615b;
  --blue: #d4e3de;
  --orange: #d4864e;
  --yellow: #ead1a0;
  --waterblue: #F6FFFC;
}

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}

body {
  font-family: "Muli", sans-serif;

  font-size: 18px;
  font-weight: 700;
}


h1 {
  font-size: 48px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000000;
}

section {
  width: 100%;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  z-index:10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 28px 78px;
}

header h1 {
  justify-self: center;
}

header .title {
  display:none;
}

header .logo {
  max-width: 40px;
  cursor: pointer;
}

nav a:last-child {
  margin-left: 100px;
}

section.blue {
  background-color: var(--waterblue);
}

section.hero{
    background-image: url(waves.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 7em;

    display:none;
}

.hero h1 {
  position: relative;

  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}


section.hero .surfboard {
  position: absolute;
}

.surfboard.orange {
  top: 242px;
  left: 17%;
}

.surfboard.teal{
    top:423px;
    left:55%;
}

.surfboard.yellow{
    top: 171px;
    left: 70%;
}





section.sun{

height:8150px;

}

section.sun .sunMessage{
    position:fixed;
    display: inline-block;



    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

section.sun .sunCircle{
    position: fixed;
    top: 60vh;
    left: 5%;
}



section.sun div.water{
    width:100%;
    background-color: var(--blue);
    height: 30vh;
    position:fixed;
    bottom:0;
    left:0;
}

section.sun div.sand{
    width:100%;
    background-color: var(--yellow);
    height:10vh;

    position:fixed;
    bottom:0;
    left:0;
}

























section.shop{
    position: relative;

   
}

div.images {
  width: fit-content;
  display: flex;
  flex-direction: row;

  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

div.images a{
    position: relative;
    margin-left: 87px;
}

section.shop .images a:first-child{
    margin-left: 0px;
  }

section.shop .images a .image {
  max-height: 468px;
  
}

section.shop .images a .image img{
    max-height: 468px;
}


section.shop .images a .image .overlay{
    opacity:0;

    background-color: var(--blue);

    width:100%;
    height:100%;

    position: absolute;
    top:0;
    left:0;

    display:flex;
    align-items: center;
    justify-content: center;
    align-content:center;

    font-size: 24px;

    transition: opacity 0.2s ease-in;
}


section.shop .images a:hover .image .overlay{
    opacity:0.7;
}

section.shop .free{
    position: absolute;
    top:0;
    left:0;
}

section.shop .free.blob1{
    top: 62%;
    left: 27%;

    animation: rotate 40s linear 0s infinite;
}

section.shop .free.blob2{
    top: 13%;
    left: 76%;

    animation: rotate 40s linear 0s infinite;
    animation-direction: reverse;
}

section.shop .free.dots{
    top:15%;
    left: 12%;
}










section.guides {


    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

.guide-container {
  display: flex;
  flex-direction: row;
}

section.guides .guide-container a {
  margin-left: 77px;
}

section.guides .guide-container a img {
  margin-bottom: 65px;
}

section.guides .guide-container a:first-child {
  margin-left: 0px;
}

img.vertical {
  transform: rotate(90deg);
}

img.flip {
  transform: rotate(180deg);
}

section.guides .guide-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.contact {

    display:none;
  background-color: var(--blue);
}

section.contact .map {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 580px;
}
